@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan' , sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight:700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}

/*Header Part*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #cecfd3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover, 
#navbar li a.active{
    color: #2c2e2e; 
}

#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    background: #4d7a69;
    bottom: -4px;
    left: 20px;

}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

/*Home Page*/
#hero{
    background-image: url("img/photo-1551084804-4b60b3c10f9e.avif");
    height: 90vh;
    width: 100%;

    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4,h2{
    padding-bottom: 15px;
    color: #d7dddd;
}
#hero h1{
    color: #d7dddd;
}
#hero p{
  color:lightgray;
}
#hero button{
    width: 165px;
    height: 62px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #2f4435;
    transition: 0.1s;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


#hero button::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(93, 117, 124) 17.8%, rgb(61, 87, 82) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

#hero button:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgb(68, 92, 65) 17.8%, rgb(57, 80, 72) 100.2%);
    transition: 0.5s;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #2f4435;
    border-radius: 5px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 45px #556e5c;
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #e9e9e9;
    background-color: #4d7a69;
}


#product1 h2,
#product1 p {
    text-align: center;
    color: #2c2e2e;
}
#product1 h4{
    font-size: 20px;
    padding-top: 10px;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    position: relative;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .star {
    color: rgb(206, 101, 2);
}

#product1 .pro a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#product1 .pro a:hover {
    background-color: #f0f0f0;
}

#product1 .pro a i {
    color: #1a1a1a;
    font-size: 20px;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/header-post.jpg");
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#banner h4{
   color:#fff;
   font-size: 16px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #c49e57;
}
#banner button:hover{
    background: #556e5c;
    color: #fff;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner h4{
    font-size: 20px;
    color:#fff;
    font-weight: 300;
}

#sm-banner h2 {
    font-size: 28px;
    color: #fff;
    font-weight: 800;
}

#sm-banner span{
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: #556e5c;
    border: 1px solid #088178;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("./img/3a3003881b4bd55c3d08da8395ce48a7.gif");
    min-width: 30%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
        background-image: url("./img/76dfac47abb04173c63732528e0318c8.jpg");
        }

#banner3 .banner-box3{
    background-image: url("./img/013c2ee7c7065abea963acfbf2ec7101.gif");
}

#banner3 .banner-box h2{
    color:#fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 .banner-box h3{
        color: #ec544e;
        font-weight: 800;
        font-size: 15px;
    }

#newsletter{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      background-image: url("img/banner/b14.png");
      background-repeat: no-repeat;
      background-position: 20% 30%;
      background-color:#465b52;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color:#fff;
}

#newsletter p{
        font-size: 14px;
        font-weight: 600;
        color: #fff;
}

#newsletter p  span{
  
    color: #c49e57;
}

#newsletter .form{
    display: flex;
    width: 30%;
}


#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width:50%;
    border: 1px solid transparent;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
}

#newsletter button{
    background-color:#6e8675;
    color: #fff;
    white-space:  nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  
}

footer{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;    
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
     font-size: 14px;
     padding-bottom: 20px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin:  0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #465b52;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color:#465b52;

}


/*Media Query*/

@media (max-width: 799px) {
    .section-p1{
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 70%;
        max-width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: right 0.3s ease;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color:#2f4435;
        font-size: 24px;
    }

    #lg-bag{
        display: none;

    }
    #hero {
           
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
     }
    #feature {
        justify-content: center;
        justify-content: space-between;
    }

    #feature .fe-box{
        margin: 15px 15px;
    }

     #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px ;
    }
    
    #banner {   
        height: 20vh;       
    }

    #banner3 .banner-box {
        min-width: 100%;
        height: 50vh;   
    }

    #newsletter .form {
        width: 70%;
    }
}
    /*Shop Page*/

  #page-header {
      background-image: url("./img/604ebaf9c92e47921e89c801c9fc03f5.jpg");
      width: 100%;
      height: 40vh;
      background-size: cover;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 14px;
  }
  
  #page-header h2,p{
    color: #465b52;
    display: flex;
    justify-content: center;
  }

  #pagination{
    text-align: center;
  }

  #pagination a{
    text-decoration: none;
    background-color:#465b52;
    padding: 15px 20px;
    border-radius: 4px;
    color:#fff;
    font-weight: 600;
  }

  #pagination a i{
    font-size: 16px;
    font-weight: 600;
  }

  /*Single Products*/

  #prodetails{
    display: flex;
    margin-right: 20px;
  }


  #prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;

  }

  .small-img-group{
    display: flex;
    justify-content: space-between;
  }

  .small-img-col{
     justify-content: space-between;
     padding: 0 2px;
     cursor: pointer;
  }

 #prodetails .single-pro-details{
    width:50%;
    padding-top: 30px;
   
 }
 #prodetails .single-pro-details h6{
    font-size: 30px;
    color:#4d7a69;
 }
 #prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
 }

  #prodetails .single-pro-details h2{
    font-size: 20px;
    color: #000;
  }

  #prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  #prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
 #prodetails .single-pro-details input:focus{
    outline: none;
 }

 #prodetails .single-pro-details button{
    background: #4d7a69;
    color: #fff;
 }
#prodetails .single-pro-details span{
    line-height: 25px;
    text-align: justify;
}


/*Blog Page*/
#page-header.blog-header {
    background-image: url("./img/blog/pexels-photo-1884583\(1\).jpg");
    justify-content: center;
    display: flex;
   
}

#blog{
    padding: 150px 150px  0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 35%;
    margin-right: 40px;
}

#blog img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}

#blog .blog-details a{
    font-size: 13px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after{
    content: "";
    width: 50%;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -90px;
}

#blog .blog-details a:hover{
    color: #465b52;
}

#blog .blog-details a:hover::after{
    background-color: #594d7a;
}

#blog .blog-box h1{
    position: absolute;
    top: -50px;
    left: 0;
    font-size: 40px;
    font-weight: 500;
    color:#465b52;
    z-index: -11;
    
}


/*For Mobiles Screens*/

@media (max-width: 477px) {
    .section-p1 {
            padding: 20px;
        }
    #header{
        padding: 10px 30px;
    }
    
    h1{
        font-size: 38px;
        
    }

    h2{
        font-size: 32px;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }

    #hero p {
        text-shadow: -0.125px -0.125px 0 black;
        color: green;
    }

    #feature{
        justify-content:space-between ;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro{
        width: 100%;
    }
    #banner {
        height: 40vh;
    }
    #banner3 .banner-box {
             
       height: 30vh;
    }

    #newsletter{
        padding: 40px 20px;
    }
    
    #newsletter .form {
        width: 90%;
    }
    /*Single Products*/

    #prodetails{
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }

     #prodetails .single-pro-details{
        width: 100%;
    }
    /*Blog Page*/
    #blog{
     padding: 100px 20px 0 20px;
    }

    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    #blog .blog-img{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
}
